/* Navbar */

.navbar {
    padding: 0;
}

.favicon {
    margin-left: 50px;
    padding: 5px;
    width: 80px;
    height: 70px;
}

.btn-verde {
    background-color: #299042;
    border: 0;
    width: 99%;
    height: 50px;
}

.total_a_pagar {
    background-color: #85c2e6;
}

.comprarVerde {
    color: #299042;
}

/* cards */

.container-cards {
    background-color: #f5f6f7;

}

.container-oradores .card {
    margin: 20px;

}

.footer {
    background: rgb(28,56,70);
background: linear-gradient(90deg, rgba(28,56,70,0.9528186274509804) 3%, rgba(29,73,98,1) 25%, rgba(29,67,88,1) 95%);
}
